NODE_ENV=development
PORT = 3000
MONGO_URI =mongodb+srv://saiyedalisha110:<db_password>@cluster1.t50mxqv.mongodb.net/retryWrites=true&w=majority&appName=Cluster1

GOOGLE_CLIENT_ID= 362789764152-v7tices4ehmppfs117197g1853862vsv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
